dados/
resultados/*
!resultados/relatorio.md
resultados_log.txt
__pycache__/
*.pyc
.pytest_cache/
resultados_parcial/
resultados_parcial_log.txt
resultados_puts/*
!resultados_puts/relatorio.md
resultados_puts_log.txt
